<div class="a-b-Xa-La" style="padding-bottom: 141.5%;">
    <div class="a-b-Xa-La-kg a-b-ja-Eb-Vb"></div><div class="a-b-Xa-La-mf-x-j">
        <h2 class="a-b-Xa-La-mf-D" tabindex="0">Página 1 de 9</h2><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 16.7458%; width: 55.2941%; height: 1.30641%;">
            Apellido y Nombre: Acosta Claudio No de DNI:23156902
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 59.1597%; top: 18.4086%; width: 5.88235%; height: 0.950119%;">
            15/07/2015
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 19.5962%; width: 63.5294%; height: 1.30641%;">
            Periodo de pago: 1o Quincena Julio No Asociado Fecha de ing.
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 44.5378%; top: 20.9026%; width: 42.8571%; height: 1.18765%;">
            TURNOS HS. ADICIONALES ANTICIPO DESCUENTOS
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 52.1008%; top: 22.5653%; width: 25.042%; height: 0.831354%;">
            0 0 3400
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 84.3697%; top: 33.3729%; width: 4.87395%; height: 1.18765%;">
            $ 3.400,00
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 34.6793%; width: 12.7731%; height: 1.30641%;">
            Forma de pago: Efectivo
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 40.1425%; width: 43.0252%; height: 1.30641%;">
            Firma Socio: Aclaración Firma:
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 83.8655%; top: 41.3302%; width: 5.37815%; height: 0.831354%;">
            ORIGINAL
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 56.2945%; width: 55.2941%; height: 1.30641%;">
            Apellido y Nombre: Acosta Claudio No de DNI:23156902
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 59.1597%; top: 57.8385%; width: 5.88235%; height: 1.06888%;">
            15/07/2015
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 59.0261%; width: 63.5294%; height: 1.42518%;">
            Periodo de pago: 1o Quincena Julio No Asociado Fecha de ing.
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 44.5378%; top: 60.4513%; width: 42.8571%; height: 1.18765%;">
            TURNOS HS. ADICIONALES ANTICIPO DESCUENTOS
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 52.1008%; top: 61.9952%; width: 25.042%; height: 0.950119%;">
            0 0 3400
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 84.3697%; top: 72.9216%; width: 4.87395%; height: 1.18765%;">
            $ 3.400,00
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 74.1093%; width: 12.7731%; height: 1.42518%;">
            Forma de pago: Efectivo
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 79.6912%; width: 43.0252%; height: 1.30641%;">
            Firma Socio: Aclaración Firma:
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 83.5294%; top: 80.8789%; width: 5.71429%; height: 0.831354%;">
            DUPLICADO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 75.1781%; width: 23.8655%; height: 1.30641%;">
            Recibí de la cooperativa la cantidad de pesos:
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 76.247%; width: 78.6555%; height: 1.30641%;">
            En concepto de anticipo de retornos por las tareas realizadas como asociado, aprobando la liquidación provisoria que se me realiza por haberla verificado y
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 77.1971%; width: 37.479%; height: 1.42518%;">
            encontrandome de acuerdo con el presupuesto global por mi conformado.
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 21.5126%; top: 60.6888%; width: 6.72269%; height: 0.950119%;">
            CONCEPTO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 61.7577%; width: 13.6134%; height: 1.18765%;">
            SERVICIOS PRESTADOS
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 63.1829%; width: 19.4958%; height: 1.06888%;">
            RECONOCIMIENTO MONOTRIBUTO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 64.7268%; width: 6.55462%; height: 0.950119%;">
            ADELANTO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 65.7957%; width: 10.9244%; height: 1.18765%;">
            OTROS ANTICIPOS
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 65.8824%; top: 72.5653%; width: 11.2605%; height: 1.18765%;">
            TOTAL A COBRAR
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 53.9496%; top: 74.3468%; width: 11.0924%; height: 0.950119%;">
            Banco/Transferencia:
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 54.7506%; width: 59.1597%; height: 1.18765%;">
            MATRICULA INAES No 47738 TEL: 4639-3254 / 4568-5280
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 65.8824%; top: 33.0166%; width: 11.2605%; height: 1.30641%;">
            TOTAL A COBRAR
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 53.9496%; top: 34.7981%; width: 11.0924%; height: 1.06888%;">
            Banco/Transferencia:
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 35.6295%; width: 23.8655%; height: 1.30641%;">
            Recibí de la cooperativa la cantidad de pesos:
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 36.6983%; width: 78.6555%; height: 1.30641%;">
            En concepto de anticipo de retornos por las tareas realizadas como asociado, aprobando la liquidación provisoria que se me realiza por haberla verificado y
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 37.7672%; width: 37.479%; height: 1.30641%;">
            encontrandome de acuerdo con el presupuesto global por mi conformado.
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 54.7899%; top: 46.9121%; width: 20.6723%; height: 1.42518%;">
            COOPERATIVA DE TRABAJO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 48.2353%; top: 48.2185%; width: 33.6134%; height: 1.42518%;">
            PARA EL TRANSPORTE PORTUARIO LIMITADA
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 49.7479%; top: 50.9501%; width: 30.7563%; height: 1.42518%;">
            ANTICIPO DE RETORNO ANUAL (Art. 42 Ley 20.337)
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 53.2067%; width: 55.4622%; height: 1.30641%;">
            NOGOYA 5285 P.B. - VILLA DEVOTO (1417) CUIT: 30-71419198-1
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 54.7899%; top: 7.36342%; width: 20.6723%; height: 1.42518%;">
            COOPERATIVA DE TRABAJO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 48.2353%; top: 8.66983%; width: 33.6134%; height: 1.42518%;">
            PARA EL TRANSPORTE PORTUARIO LIMITADA
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 49.7479%; top: 11.4014%; width: 30.7563%; height: 1.42518%;">
            ANTICIPO DE RETORNO ANUAL (Art. 42 Ley 20.337)
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 13.658%; width: 55.4622%; height: 1.30641%;">
            NOGOYA 5285 P.B. - VILLA DEVOTO (1417) CUIT: 30-71419198-1
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 15.2019%; width: 52.9412%; height: 1.18765%;">
            MATRICULA INAES No 47738 TEL: 4639-3254
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 21.5126%; top: 21.1401%; width: 6.72269%; height: 0.950119%;">
            CONCEPTO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 22.209%; width: 13.6134%; height: 1.18765%;">
            SERVICIOS PRESTADOS
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.7395%; top: 23.6342%; width: 19.4958%; height: 1.18765%;">
            RECONOCIMIENTO MONOTRIBUTO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 25.1781%; width: 6.55462%; height: 0.950119%;">
            ADELANTO
        </p><p class="a-b-Xa-La-mf-Ic" style="left: 8.57143%; top: 26.3658%; width: 10.9244%; height: 1.06888%;">
            OTROS ANTICIPOS
        </p>
    </div><div class="a-b-s-r-Ln a-b-s-r-Oa"></div><div class="a-b-s-r-Ln a-b-s-r-nb"></div><div class="a-b-s-r-Ln a-b-Xa-ef-Oa"></div><img src="blob:https%3A//drive.google.com/99509879-b7a9-497d-97f8-45606d5f7a70" class="a-b-Xa-La-Ua" alt="Página 1 de 9" aria-hidden="true" style="opacity: 1;">
</div>