<div class="a-b-Xa-yj a-b-tb-Ce a-b-Xa-La-jh" role="document" tabindex="0" style="margin-top: 60px; margin-bottom: 60px; width: 800px; left: 228px;">
    <div class="a-b-Xa-La" style="padding-bottom: 141.424%;">
        <div class="a-b-Xa-La-kg a-b-ja-Eb-Vb"></div><div class="a-b-Xa-La-mf-x-j">
            <h2 class="a-b-Xa-La-mf-D" tabindex="0">Página 1 de 1</h2><p class="a-b-Xa-La-mf-Ic" style="left: 36.9748%; top: 8.4323%; width: 26.2185%; height: 1.66271%;">
                ACTA NÚMERO CATORCE
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 19.3277%; top: 10.095%; width: 62.0168%; height: 1.66271%;">
                DEL CONSEJO DE ADMINISTRACIÓN DE LA COOPERATIVA DE
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 21.8487%; top: 11.7577%; width: 56.4706%; height: 1.66271%;">
                TRABAJO PARA EL TRANSPORTE PORTUARIO LIMITADA
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 14.9644%; width: 71.9328%; height: 1.54394%;">
                En la Ciudad Autónoma de Buenas Aires, a los 31 días del mes de Julio de 2014,
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 16.5083%; width: 71.9328%; height: 1.54394%;">
                siendo las 10.50 horas, se reúne el Consejo de Administración de la COOPERATIVA
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 18.0523%; width: 71.9328%; height: 1.54394%;">
                DE TRABAJO PARA EL TRANSPORTE PORTUARIO LIMITADA, conformado por el
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 19.4774%; width: 71.9328%; height: 1.54394%;">
                presidente Jorge Antonio Moreno, secretario Emiliano Esteban Lopez Filippini y la
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 21.0214%; width: 71.9328%; height: 1.54394%;">
                tesorera Mabel Gloria Rodríguez y se encuentra también presente el Síndico Walter
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 22.5653%; width: 71.9328%; height: 1.54394%;">
                Courvoisier, para tratar el siguiente orden del día: 1) Lectura, consideración y
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 23.9905%; width: 71.9328%; height: 1.54394%;">
                aprobación del Acta de la sesión anterior del Consejo de Administración; 2)
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 25.5344%; width: 71.9328%; height: 1.54394%;">
                Aprobación de los ingresos y egresos; 3) Incorporación de nuevos asociados. Iniciada
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 27.0784%; width: 71.9328%; height: 1.54394%;">
                la reunión se trata el punto 1) del orden del día y se dispone la lectura al acta anterior,
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 28.5036%; width: 71.9328%; height: 1.54394%;">
                lo cual así se verifica quedando la misma aprobada por unanimidad de los presentes,
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 30.0475%; width: 71.9328%; height: 1.54394%;">
                siendo fiel reflejo de lo actuado. Continuando con el punto 2) del orden del día, se trae
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 31.5914%; width: 71.9328%; height: 1.54394%;">
                a análisis los ingresos y egresos del período, que luego de un cambio de opiniones y
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 33.0166%; width: 37.9832%; height: 1.54394%;">
                consideraciones, se aprueba por unanimidad.
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 34.5606%; width: 71.9328%; height: 1.54394%;">
                Acto seguido toma la palabra el Sr. Presidente y referente al punto 3) trae a
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 35.9857%; width: 71.9328%; height: 1.54394%;">
                aprobación la solicitud de asociación efectuada por los señores BRITEZ DIEGO,
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 37.5297%; width: 71.9328%; height: 1.54394%;">
                domiciliado en la calle Misiones Nº 1299 de la localidad de Buenos Aires, número de
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 39.0736%; width: 71.9328%; height: 1.54394%;">
                DNI: 94527931, CONTRERAS DARIO, domiciliado en calle Esteban Echeverria Nº
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 40.4988%; width: 71.9328%; height: 1.54394%;">
                2838 de la localidad de Buenos Aires, número de DNI: 3075652 y BASSO JAVIER,
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 42.0428%; width: 71.9328%; height: 1.54394%;">
                domiciliado en la calle 3 de Febrero Nº3959 de la localidad de Buenos Aires, DNI
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 43.5867%; width: 71.9328%; height: 1.54394%;">
                27.601.957; quienes firmaron sus legajos el día 17 de Julio del 2014, luego de un
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 45.0119%; width: 71.9328%; height: 1.54394%;">
                intercambio de opiniones y consideraciones efectuadas por los consejeros, queda
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 46.5558%; width: 71.9328%; height: 1.54394%;">
                aprobada por unanimidad de los presentes. No habiendo más asuntos que considerar,
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 48.0998%; width: 69.4118%; height: 1.54394%;">
                se da por finalizada la reunión siendo las 11.30 horas.-- -- -- -- ----- -- -- -- -- -- -- -- -- --- -- -- -- -
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 57.7197%; width: 65.7143%; height: 1.54394%;">
                Secretario Presidente
            </p><p class="a-b-Xa-La-mf-Ic" style="left: 14.2857%; top: 59.9762%; width: 70.9244%; height: 1.54394%;">
                Emiliano E. Lopez Filippini Jorge Antonio Moreno
            </p>
        </div><div class="a-b-s-r-Ln a-b-s-r-Oa"></div><div class="a-b-s-r-Ln a-b-s-r-nb"></div><div class="a-b-s-r-Ln a-b-Xa-ef-Oa"></div><canvas class="a-b-Xa-La-Gn-un" width="1200" height="1697.093902234168" aria-hidden="true" style="opacity: 1;"></canvas>
    </div>
</div>