<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Production" connectionString="Data Source=localhost;Initial Catalog=QA_Rhino;Persist Security Info=True;User ID=sa;Password=woopin.784512" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net>
    <appender>
      <connectionString value="Data Source=localhost;Initial Catalog=QA_Rhino;Persist Security Info=True;User ID=sa;Password=woopin.784512"  providerName="System.Data.SqlClient" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>